#logo{
	width: 12%;
	margin-left: 138px;
}
ul.nav{
	background: #E1EFE0;
	width: 100%;

}
nav{
	display: inline-block;
}
.log{
	width: 29%;
	fill:#7DAB7A;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}
li.nav-item.logo{
	margin-right: -540px;
}
li.nav-item{
	margin-left: 76px;
    margin-right: -117px;
}
table.table{
	width: 70%;
	margin-left: 20%;
}
th.entete{
	color: green;
}
#shop{
	 background-image: url('image/shop.svg');
	background-color: transparent;
	border-style:none;
	width: 15%;
	
}
#plus{
	 background-image: url('image/plus.svg');
	background-color: transparent;
	border-style:none;
	width: 15%;
		
}
#moins{
	background-image: url('image/moins.svg');
	background-color: transparent;
	border-style:none;
	width: 15%;
	
}
#print{
	 background-image: url('image/print.svg');
	background-color: transparent;
	border-style:none;
	width: 15%;
	
}
#localisation{
	 background-image: url('image/localisation.svg');
	background-color: transparent;
	border-style:none;
	width: 15%;
	
}

#time{
	margin-left: 10px;
}
#quant1{
	margin-left: 5%;
}
#quant2{
	margin-left: 9%;
}
#quant3{
	margin-left: 5%;
}
input{
	border-radius: 6px 7px;

}

